modules = ["nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[userenv]

[userenv.shared]
OWNER_NUMBER = "2349112097911"
ZST_API_KEY = "zst_QFpFjVK9LlJPB8BEujrSz3TdHHld52vVam9rQWrq"
